{% extends 'adminlte/login.html' %}
{%load static %}

{% block logo %}
    <div class="login-logo">
        <a href="{% block logo_href %}/{% endblock %}">
            <img src="{%static 'core/img/caixalivrelogo.png' %}" alt="">
            {% block logo_text %}
                <b>Base</b>LIVRE
            {% endblock %}
        </a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p class="text-center" style="background-color: #dc3545;color: #fff; padding: 10px; border-radius: 5px;">{{ message }}</p>
        {% endfor %}
    {% else %}
        <p class="text-center" style="padding: 10px; border-radius: 5px;">Entre com seu <strong>E-mail</strong>.</p>
    {% endif %}
   
{% endblock %}

{% block login_form %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group has-feedback">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="E-mail">
            </div>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center">
                    <button type="submit"  class="btn btn-primary"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp; Enviar Nova Senha</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="margin-top: 10px;">Voltar para a tela de <a href="/login/"> Login</a></p>
            </div>
        </div>
    </form>
{% endblock %}




