{% extends 'adminlte/login.html' %}
{%load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'core/css/toastr.css' %}">
{% endblock %}

{% block logo %}
    <div class="login-logo">
        <a href="{% block logo_href %}/{% endblock %}">
            <img src="{%static 'core/img/caixalivrelogo.png' %}" alt="">
            {% block logo_text %}
                <b>Base</b>LIVRE
            {% endblock %}
        </a>
    </div>
{% endblock %}

{% block login_form %}
    <div class="col-md-12 text-center login-logo">
        
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {% if message %}
            <p class="login-box-msg" style="color: red;">{{ message }}</p>
        {% endif %}
        <div class="col-md-12">
            <br>
            <p class="text-center"> Se uma conta com este e-mail existe, você receberá em alguns minutos
                instruções de como configurar sua senha.
            </p>
            <p class="text-center">
                Se você não receber nenhum e-mail, por favor verifique se você
                inseriu corretamente o seu endereço ou se o e-mail não caiu na 
                caixa de SPAM.
            </p>
        </div>
        <div class="col-md-12 text-center">
                <br>
                <p>Ir para o <a href="/login/">Login</a></p>
        </div>
    </form>

{% endblock %}


 